
$white: #f4f4f4;
$white-two: #ffffff;
$black: #000000;
$white-three: #dbdbdb;
$brownish-orange: #c6941e;
$mud: #7c5f18;
$pinkish-grey: #bebebe;
$brownish-orange-two: #d49e1f;
$army-green: #534215;  
$brownish-orange-two: #d49e1f;
$white-four: #fafafa;

$h1: 2.95vw;
$h2: 1.88vw;
$p: 1.04vw;
$fontBold: 600;
$fontThin: 300;


    // h1: 56.6px = 2.95vw
    // h2: 36px = 1.88vw
    
    // p: 20px = 1.04vw

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 2000;
    background: $black;
  }

.overlay:nth-child(2) {
    text-align: center;
    margin: auto;
     img {
         margin-top: 6%;
     }
}
  
  .first {
    top: 0;
  }
  
  .second {
    top: 33.3%
  }
  
  .third {
    top: 66.6%;
  }



.btn1 {
    display: flex;
    border: none;

    p {
        font-size: .8vw;
        font-weight: $fontBold;
        letter-spacing: .25vw;
        background: linear-gradient(to right, $brownish-orange-two, $army-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p::after {
        content: '\f105';
        font-family: fontAwesome;
        font-size: 1vw;
        font-weight: $fontThin;
        padding-left: .6vw;
    }
}






$gray: #808080;

$text-arrow-space: 16px;
$shaft-width: 1px;
$newshaft-width: 64px;
$shaft-thickness: 1px;
$arrow-head-width: .42vw;
$arrow-head-thickness: $shaft-thickness;



// Base

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// The Arrow

.the-arrow {
  width: $shaft-width;
  transition: all 0.2s;
 
  &.-left {
    position: absolute;
    top: 60%;
    left: 0;

    > .shaft {
      width: 0;
      background-color: $black;
      
      &:before,
      &:after {
        width: 0;
        background-color: $black;
      }

      &:before {
        transform: rotate(0);
      }

      &:after {
        transform: rotate(0);
      }
    }
  }
  
  &.-right {
    top: 0;
    left: .8vw;
    
    > .shaft {
      width: $shaft-width;
      transition-delay: 0.2s;

      &:before,
      &:after { 
        width: $arrow-head-width;
        transition-delay: 0.3s;
        transition: all 0.5s;
      }
      
      &:before {
        transform: rotate(40deg);
      }
      
      &:after {
        transform: rotate(-40deg);
      }
    }
  }

  > .shaft {
    background-color: $black;
    display: block;
    height: $shaft-thickness;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;

    &:before,
    &:after {
      background-color: $black;
      content: '';
      display: block;
      height: $arrow-head-thickness;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.2s;
      transition-delay: 0;
    }

    &:before {
      transform-origin: top right;
    }

    &:after {
      transform-origin: bottom right;
    }
  }
}



// Animated Arrow Button

.animated-arrow {
  display: inline-block;
  font-size: .8vw;
        font-weight: $fontBold;
        letter-spacing: .25vw;
        background: linear-gradient(to right, $brownish-orange-two, $army-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
  
  &:hover {
    color: $gray;
    text-decoration: none;

    
    > .the-arrow.-left {
      > .shaft {
        width: $newshaft-width;
        transition-delay: 0.1s;
        // background-color: $gray;

        &:before,
        &:after {
          width: $arrow-head-width;
          transition-delay: 0.1s;
        //   background-color: $gray;
        }

        &:before {
          transform: rotate(40deg);
        }

        &:after {
          transform: rotate(-40deg);
        }
      }
    }
    
    > .main {
      transform: translateX($shaft-width + $text-arrow-space);
      transform: translateX($newshaft-width + $text-arrow-space);
      
      > .the-arrow.-right {
        > .shaft {
          width: 0;
          transform: translateX(200%);
          transition-delay: 0;
          
          &:before,
          &:after {
            width: 0;
            transition-delay: 0;
            transition: all 0.1s;
          }

          &:before {
            transform: rotate(0);
          }

          &:after {
            transform: rotate(0);
          }
        }
      }
    }
  }
  
  > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    
    // > .text {
    //   margin: 0 $text-arrow-space 0 0;
    //   line-height: 1;
    // }
    
    > .the-arrow {
      position: relative;
    }
  }
}








// Navbar Starts
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white-two;
    color: $black;
    width: 100%;
    height: 5.89vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1000;
}

.logo-container {
    width: 70%;

    .logo {
        width: 15vw;
        height: auto;
        margin-left: 2.34vw;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.social-icons {
    width: 17%;

    ul {
        display: flex;
        font-size: $p;
        margin-top: 1.5vw;
        float: right;
    }

    i {
        color: $black;
        margin-left: 1.83vw;
    }

    i:hover {
        transform: scale(1.1);
        color: #ccc;
    }
}

.hamburger {
    width: 13%;
}

.bg-hamburger {
    background-color: $black;
    height: 3.54vw;
    width: 3.54vw;
    border-radius: 0.26vw;
    float: right;
    margin-right: 3.02vw;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background: $pinkish-grey;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    margin: .2vw;
    text-align: center;
}

.nav-link {
    font-size: 1.5vw;
    font-weight: 600;
    color: $black;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to right, $brownish-orange-two, $army-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 2.4vw;
    width: 1.5vw;
    right: 4vw;
    height: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 500ms ease-out;
    overflow: visible;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: $white-two;
    width: 100%;
    height: 1px;
    border-radius: 5px;
}

.bar.half {
    width: 100%;
}

.bar.start {
    transform-origin: right;
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

        @media only screen and (max-width: 800px) {

            .nav-bar {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                background-color: $white-two;
                color: $black;
                width: 100%;
                height: 8vw;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                z-index: 1000;
            }
            
            .logo-container {
                width: 100%;

                .logo {
                    width: 15vw;
                    height: auto;
                    text-align: center;
                    margin: auto;
            
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            
            .social-icons {
                width: 75%;
                margin-top: -1vw;
            
                ul {
                    width: 70%;
                    display: flex;
                    justify-content: space-around;
                    font-size: $p;
                    margin: auto;
                }
            
                i {
                    color: $black;
                }
            
                i:hover {
                    transform: scale(1.2);
                }
            }
            
            .hamburger {
                width: 25%;
                margin-top: -1vw;
            }
            
            .bg-hamburger {
                position: relative;
                background-color: $black;
                height: 3.54vw;
                width: 3.54vw;
                border-radius: 0.26vw;
                float: right;
                margin-right: 4vw;

                .menu-toggler {
                    position: absolute;
                    top: 1.4vw;
                    width: 1.5vw;
                    right: 1vw;
                    height: 1vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;
                    z-index: 1500;
                    transition: transform 500ms ease-out;
                    overflow: visible;
                }
                
                .menu-toggler.open {
                    transform: rotate(-45deg);
                }
                
                .bar {
                    background: $white-two;
                    width: 100%;
                    height: 1px;
                    border-radius: 5px;
                }
                
                .bar.half {
                    width: 100%;
                }
                
                .bar.start {
                    transform-origin: right;
                    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                }
                
                .open .bar.start {
                    transform: rotate(-450deg) translateX(.8rem);
                }
                
                .bar.end {
                    align-self: flex-end;
                    transform-origin: left;
                    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                }
                
                .open .bar.end {
                    transform: rotate(-450deg) translateX(-.8rem);
                }
            }
            
            .top-nav {
                width: 100%;
                height: 100vh;
                position: fixed;
                top: -100vh;
                z-index: 50;
                background: $pinkish-grey;
                border-bottom-right-radius: 100%;
                border-bottom-left-radius: 100%;
                transition: all 650ms cubic-bezier(1,0,0,1);
            }
            
            .nav-list {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .nav-list li {
                margin: .2vw;
                text-align: center;
            }
            
            .nav-link {
                font-size: 1.5vw;
                font-weight: 600;
                color: $black;
            }
            
            .nav-link:hover,
            .nav-link:focus {
                background: linear-gradient(to right, $brownish-orange-two, $army-green);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            
            .top-nav.open {
                top: 0;
                border-radius: initial;
            }
        }
// Navbar Ends

// ###################################################################
// Urbanest Starts
.urbanest {
    height: auto;
    background-color: $white-two;
    color: $black;
    font-family: Titillium Web, sans-serif;
    display: flex;
    margin-top: 11.93vw;

    .urbanest-descrip {
        margin-top: 6vw;
        width: 41.67vw;
        padding-left: 8.28vw;
        padding-right: 5.83vw;

        h2 {
            margin-bottom: 2vw;
            font-size: $h2;
            font-weight: $fontBold;
            line-height: 1.19;
        }

        .urbanestLogo {
            height: 3vw;
            width: 22vw;
            margin-bottom: 2.3vw;

            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            margin-bottom: 2vw;
            font-size: $p;
            font-weight: $fontThin;
            line-height: 1.4;
        }

        .pBold {
            margin-bottom: 2.5vw;
            font-weight: $fontBold;
            line-height: 1.4;
        }

        .btn1 {
            display: flex;
            border: none;
            background: linear-gradient(to right, $brownish-orange-two, $army-green);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            p {
                font-size: .8vw;
                font-weight: $fontBold;
                letter-spacing: .25vw;
            }

            p::after {
                content: '\f105';
                font-family: fontAwesome;
                font-size: 1vw;
                font-weight: $fontThin;
                padding-left: .6vw;
            }
        }
    }

    .urbanest-img {
        width: 58.33vw;
        padding-right: 3.02vw;

        img {
            width: 100%;
            height: auto;
            border-radius: 1.56vw;
        }
    }
}

$circle-w: 3vw;
$circle-bg: $black;
$arrow-bg: $white-two;
$bezier: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$bezier-bounce: cubic-bezier(.87,-.41,.19,1.44);
$anim-timing: 3s;

.nextPro {
    margin-top: 4.53vw ;
    margin-right: 3.02vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .downArrow {
        width: 2vw;
        height: 4vw;
        margin-right: .7vw;
        margin-top: .7vw;
        

        img {
            width: 100%;
            height: auto;
        }
    }

    p {
        font-size: .78vw;
        line-height: 5.33;
        text-transform: uppercase;
    }




    .ico {
        margin: 1% 1.5% 0 0;
        text-align: center;
        width: 2vw;
        height: 2vw;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        filter: url("#goo");
        .circle {
          background: $circle-bg;
          border-radius: 50%;
          display: inline-block;
          height: $circle-w;
          width: $circle-w;
          
          position: absolute;
          top: 50%;
          left:50%;
          transform: translateX(-50%) translateY(-50%);
          transform-origin: 0%;
          
          &.circle-top {
            height: $circle-w / 2;
            width: $circle-w / 2;
            animation: blob-1-anim $anim-timing $bezier infinite;
            z-index: 0;
            top:0;
          }
          &.circle-bottom {
            height: $circle-w / 2.8;
            width: $circle-w / 2.4;
            animation: blob-2-anim $anim-timing $bezier  infinite;
            z-index: 9;
            bottom:0px;
            top: -2px;
          }
          
        }
        
        
        .st-arrow{
          fill:$arrow-bg;
          animation: scrolly $anim-timing $bezier forwards infinite;
          perspective: 9000px;
          transform: translateZ(0);
          transform-origin: bottom;
        }
      }
      
      .svg {z-index:9;position:relative;}
        
      @keyframes blob-1-anim {
        0%{
          transform:translateX(-50%) translateY(0);
        }
        14%{
          transform:translateX(-50%) translateY(-8px);
        }
        24% {
          transform:translateX(-50%) translateY(0);
        }
        100% {
          transform:translateX(-50%) translateY(0);
        }
      }
      
      @keyframes blob-2-anim {
        0% {
          //transform: scale(1) translate(-50%,-150%);
          transform: scale(1) translate(-50%,10px);
        }
        30% {
          //transform: scale(1) translate(-50%,-50%);
          transform: scale(1) translate(-50%,10px);
        }
        70% {
          //transform: scale(1) translate(-50%,-50%);
          transform: scale(1) translate(-50%,10px);
          
        }
        95% {
          //transform: scale(1) translate(-50%,-50%);
          transform: scale(1) translate(-50%,26px);
          
          
        }
        100% {
          //transform: scaleX(1.5) translate(-50%,140%);
          transform: scale(1) translate(-50%,10px);
        }
      }
      
      @keyframes scrolly {
        0% {
          transform: translate3d(0,-150%,0) rotateX(90deg) scale(0.5) skewX(3deg);
        }
        30% {
          transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
        }
        70% {
          transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
        }
        95% {
          transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        }
        100% {
          transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        }
      }






}

        @media only screen and (max-width:800px) {

            .urbanest {
                height: auto;
                background-color: $white-two;
                color: $black;
                font-family: Titillium Web, sans-serif;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 11.93vw;
            
                .urbanest-descrip {
                    margin-top: 6vw;
                    width: 100vw;
                    padding: 0 30vw 0 10vw;
            
                    h2 {
                        margin-bottom: 2vw;
                        font-size: $h2;
                        font-weight: $fontBold;
                        line-height: 1.19;
                    }
            
                    .urbanestLogo {
                        height: 3vw;
                        width: 22vw;
                        margin-bottom: 2.3vw;
            
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
            
                    p {
                        margin-bottom: 2vw;
                        font-size: $p;
                        font-weight: $fontThin;
                        line-height: 1.4;
                    }
            
                    .pBold {
                        margin-bottom: 2.5vw;
                        font-weight: $fontBold;
                        line-height: 1.4;
                    }
            
                    .btn1 {
                        display: flex;
                        border: none;
                        background: linear-gradient(to right, $brownish-orange-two, $army-green);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-bottom: 4vw;
            
                        p {
                            font-size: .8vw;
                            font-weight: $fontBold;
                            letter-spacing: .25vw;
                        }
            
                        p::after {
                            content: '\f105';
                            font-family: fontAwesome;
                            font-size: 1vw;
                            font-weight: $fontThin;
                            padding-left: .6vw;
                        }
                    }
                }
            
                .urbanest-img {
                    width: 80vw;
                    padding: 0;
            
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 1.56vw;
                    }
                }
            }
            
            .nextPro {
                margin-top: 4.53vw ;
                margin-right: 3.02vw;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            
                .downArrow {
                    width: 2vw;
                    height: 4vw;
                    margin-right: .7vw;
                    margin-top: .7vw;
                    
            
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            
                p {
                    font-size: .78vw;
                    line-height: 5.33;
                    text-transform: uppercase;
                }
            }
        }
// Urbanest Ends

// ###################################################################
// Soultree Starts
.soultree {
    height: auto;
    background-color: $white-two;
    color: $black;
    font-family: Titillium Web, sans-serif;
    display: flex;
    margin-top: 8vw;
    margin-bottom: 11.56vw;

    .soultree-img {
        width: 58.33vw;
        padding-left: 3.02vw;

        img {
            width: 100%;
            height: auto;
            border-radius: 1.56vw;
        }
    }

    .soultree-descrip {
        margin-top: 2.34vw;
        width: 41.67vw;
        padding-right: 8.28vw;
        padding-left: 5.83vw;

        h2 {
            margin-bottom: 1.2vw;
            font-size: $h2;
            font-weight: $fontBold;
            line-height: 1.19;
        }

        .soultreeLogo {
            height: 9.06vw;
            width: 18.5vw;
            margin-bottom: 1.2vw;

            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            margin-bottom: 2vw;
            font-size: $p;
            font-weight: $fontThin;
            line-height: 1.4;
        }

        .pBold {
            margin-bottom: 2.5vw;
            font-weight: $fontBold;
            line-height: 1.4;
        }

        .btn1 {
            display: flex;
            border: none;
            background: linear-gradient(to right, $brownish-orange-two, $army-green);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            p {
                font-size: .8vw;
                font-weight: $fontBold;
                letter-spacing: .25vw;
            }

            p::after {
                content: '\f105';
                font-family: fontAwesome;
                font-size: 1vw;
                font-weight: $fontThin;
                padding-left: .6vw;
            }
        }
    }
}

        @media only screen and (max-width: 800px) {

            .soultree {
                height: auto;
                background-color: $white-two;
                color: $black;
                font-family: Titillium Web, sans-serif;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 13vw;
                margin-bottom: 11.56vw;
            
                .soultree-img {
                    padding: 0;
                    width: 80vw;
                    order: 2;
            
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 1.56vw;
                    }
                }
            
                .soultree-descrip {
                    margin-top: 2.34vw;
                    width: 41.67vw;
                    padding-right: 8.28vw;
                    padding-left: 5.83vw;
            
                    h2 {
                        margin-bottom: 1.2vw;
                        font-size: $h2;
                        font-weight: $fontBold;
                        line-height: 1.19;
                    }
            
                    .soultreeLogo {
                        height: 9.06vw;
                        width: 18.5vw;
                        margin-bottom: 1.2vw;
            
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
            
                    p {
                        margin-bottom: 2vw;
                        font-size: $p;
                        font-weight: $fontThin;
                        line-height: 1.4;
                    }
            
                    .pBold {
                        margin-bottom: 2.5vw;
                        font-weight: $fontBold;
                        line-height: 1.4;
                    }
            
                    .btn1 {
                        display: flex;
                        border: none;
                        background: linear-gradient(to right, $brownish-orange-two, $army-green);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-bottom: 4vw;
            
                        p {
                            font-size: .8vw;
                            font-weight: $fontBold;
                            letter-spacing: .25vw;
                        }
            
                        p::after {
                            content: '\f105';
                            font-family: fontAwesome;
                            font-size: 1vw;
                            font-weight: $fontThin;
                            padding-left: .6vw;
                        }
                    }
                }
            }
        }
// Soultree Section Ends

// ###################################################################
// Welcome Section Starts
.welcome {
    height: 40.16vw;
    width: 100%;
    font-family: Titillium Web, sans-serif;
    color: $white-two;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3.13vw;
        font-weight: $fontBold;
        line-height: 1.4;
    }

    h2 {
        font-size: 2.34vw;
        font-weight: $fontThin;
        line-height: 1.4;
        margin-bottom: 5vw;
    }

    .btn1 {
        text-decoration: none;
    }


    // The Arrow

.the-arrow {
    width: $shaft-width;
    transition: all 0.2s;
   
    &.-left {
      position: absolute;
      top: 60%;
      left: 0;
  
      > .shaft {
        width: 0;
        background-color: $white-two;
        
        &:before,
        &:after {
          width: 0;
          background-color: $white-two;
        }
  
        &:before {
          transform: rotate(0);
        }
  
        &:after {
          transform: rotate(0);
        }
      }
    }
    
    &.-right {
      top: 0;
      left: .8vw;
      
      > .shaft {
        width: $shaft-width;
        transition-delay: 0.2s;
  
        &:before,
        &:after { 
          width: $arrow-head-width;
          transition-delay: 0.3s;
          transition: all 0.5s;
        }
        
        &:before {
          transform: rotate(40deg);
        }
        
        &:after {
          transform: rotate(-40deg);
        }
      }
    }
  
    > .shaft {
      background-color: $white-two;
      display: block;
      height: $shaft-thickness;
      position: relative;
      transition: all 0.2s;
      transition-delay: 0;
      will-change: transform;
  
      &:before,
      &:after {
        background-color: $mud;
        content: '';
        display: block;
        height: $arrow-head-thickness;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.2s;
        transition-delay: 0;
      }
  
      &:before {
        transform-origin: top right;
      }
  
      &:after {
        transform-origin: bottom right;
      }
    }
  }
  
  
  
  // Animated Arrow Button
  
  .animated-arrow {
    display: inline-block;
    font-size: .8vw;
          font-weight: $fontBold;
          letter-spacing: .25vw;
          background: linear-gradient(to right, $brownish-orange-two, $army-green);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
    
    &:hover {
      color: $white-two;
      text-decoration: none;
  
      
      > .the-arrow.-left {
        > .shaft {
          width: $newshaft-width;
          transition-delay: 0.1s;
          background-color: $white-two;
  
          &:before,
          &:after {
            width: $arrow-head-width;
            transition-delay: 0.1s;
            background-color: $white-two;
          }
  
          &:before {
            transform: rotate(40deg);
          }
  
          &:after {
            transform: rotate(-40deg);
          }
        }
      }
      
      > .main {
        transform: translateX($shaft-width + $text-arrow-space);
        transform: translateX($newshaft-width + $text-arrow-space);
        
        > .the-arrow.-right {
          > .shaft {
            width: 0;
            transform: translateX(200%);
            transition-delay: 0;
            
            &:before,
            &:after {
              width: 0;
              transition-delay: 0;
              transition: all 0.1s;
            }
  
            &:before {
              transform: rotate(0);
            }
  
            &:after {
              transform: rotate(0);
            }
          }
        }
      }
    }
    
    > .main {
      display: flex;
      align-items: center;
      transition: all 0.2s;
      
      // > .text {
      //   margin: 0 $text-arrow-space 0 0;
      //   line-height: 1;
      // }
      
      > .the-arrow {
        position: relative;
      }
    }
  }



    
}
// Welcome Section Ends

// ###################################################################
// About Section Starts
.about {
    height: auto;
    font-family: Titillium Web, sans-serif;
    color: $black;
    background-color: $white-two;

    .about-descrip {
        padding: 6.61vw 0 5.71vw 0;
        width: 45%;
        text-align: center;
        margin: auto;

        h1 {
            font-size: 3.13vw;
            font-weight: $fontBold;
            line-height: 0.83;
            margin-bottom: 1.41vw;
        }

        p {
            font-size: $p;
            font-weight: $fontThin;
            line-height: 1.2;
        }
    }

    .about-cards {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 7.66vw;
    }
    
    .about-hover-card {
        flex: 1;
        height: 28.70vw;
        width: 18.65vw;
        border: solid 1px #ebebeb;
        color: $black;
        background-color: $white-two;
        display: block;
        border-radius: .52vw;

        .btn {
            display: none;
            justify-content: center; 
            margin-top: 2vw;
        }
    }
    
    .about-img {
        width: 18.65vw;
        height: 50%;
    }

    .about-img>img {
        width: 100%;
        height: auto;
        border-radius: .52vw .52vw 0 0;
    }
    
    .about-hover-card>h2 {
        margin-top: -12vw;
        text-align: center;
        font-weight: 600;
        font-size: 2.71vw;
        line-height: 1.38;
        color: $white-two;
    }
    
    .about-hover-card>p {
        position: relative;
        width: 18.65vw;
        margin-top: 13vw;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        font-size: $p;
        font-weight: 300;
        line-height: 1.4;
    }

    .about-card-div {
        width: 26%;
        margin: auto;
    }
    
    .about-hover-card:hover {
        box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
        transform: translateY(-2.2vw);
        transition: 600ms transform;
        border: solid 1px #ebebeb;
        color: $black;
        background-color: $white-two;

        .btn {
            display: flex;
            justify-content: center; 
        }

        .btn1 {
            text-decoration: none;
        }
    }
}

            @media only screen and (max-width: 800px) {

                .about {
                    height: auto;
                    font-family: Titillium Web, sans-serif;
                    color: $black;
                    background-color: $white-two;
                
                    .about-descrip {
                        padding: 6.61vw 0 5.71vw 0;
                        width: 70%;
                        text-align: center;
                        margin: auto;
                
                        h1 {
                            font-size: 3.13vw;
                            font-weight: $fontBold;
                            line-height: 0.83;
                            margin-bottom: 1.41vw;
                        }
                
                        p {
                            font-size: $p;
                            font-weight: $fontThin;
                            line-height: 1.2;
                        }
                    }
                
                    .about-cards {
                        width: 95%;
                        display: flex;
                        flex-wrap: wrap;   
                        justify-content: space-between;                     
                        margin: auto;
                        margin-bottom: 7.66vw;
                    }
                    
                    .about-hover-card {
                        flex: 1;
                        height: 40vw;
                        width: 25vw;
                        border: solid 1px #ebebeb;
                        color: $black;
                        background-color: $white-two;
                        border-radius: .52vw;
                        margin-bottom: 5vw;
                
                        .btn {
                            display: none;
                            justify-content: center; 
                            margin-top: 2vw;
                        }
                    }
                    
                    .about-img {
                        width: 25vw;
                        height: 50%;
                    }
                
                    .about-img>img {
                        width: 100%;
                        height: auto;
                        border-radius: .52vw .52vw 0 0;
                    }
                    
                    .about-hover-card>h2 {
                        margin-top: -16vw;
                        text-align: center;
                        font-weight: 600;
                        font-size: 2.71vw;
                        line-height: 1.38;
                        color: $white-two;
                    }
                    
                    .about-hover-card>p {
                        position: relative;
                        width: 18.65vw;
                        // padding-left: 1.2vw;
                        // padding-right: 1.2vw;
                        margin: auto;
                        margin-top: 18vw;
                        font-size: $p;
                        font-weight: 300;
                        line-height: 1.4;
                    }
                
                    .about-card-div {
                        width: 26%;
                        margin: auto;
                    }
                    
                    .about-hover-card:hover {
                        box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
                        transform: translateY(-2.2vw);
                        transition: 600ms transform;
                        border: solid 1px #ebebeb;
                        color: $black;
                        background-color: $white-two;
                
                
                        .btn {
                            display: flex;
                            justify-content: center; 
                        }

                        .btn1 {
                            text-decoration: none;
                        }
                    }
                }
            }
// About Section Ends

// ####################################################################################
//Blog Section Starts
.blog {
    height: auto;
    background-color: #fafafa;
    font-family: Titillium Web, sans-serif;
    color: $black;
}

.blog-title>h1 {
    padding-top: 5.42vw;
    width: 70%;
    margin: auto;
    font-size: 3.13vw;
    font-weight: $fontBold;
    line-height: 0.83;
    margin-bottom: 1.61vw;
}

.blog .arrows {
    width: 94%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}


.blog .arrows i {
    font-size: 2.4vw;
    padding-top: .5vw;
    font-weight: $fontThin;
    width: 3.54vw;
    height: 3.54vw;
    background-color: $white-two;
}

.blog .arrows .fa-angle-left {
    border-radius: .25vw 0 0 .25vw;
}

.blog .arrows .fa-angle-right {
    border-radius: 0 .25vw .25vw 0;
}

.blog i:hover {
    color: $white-two;
    background-color: $black;
}

.main-swiper {
    display: flex;
}

.blank {
    width: 15%;
    background-color: #fafafa;
    z-index: 2;
}

.swiper-container2 {
    width: 70%;
    height: 100%;
    display: flex;
    margin-top: 7.14vw;
    margin-bottom: 6vw;

  .swiper-slide {
    text-align: left;
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .blog-hover {
            height: 25vw;
            background-color: $white-two;
            color: $black;
            border-radius: .5vw;
            border: solid 1px #ebebeb;

            .btn {
                display: none;
                justify-content: center;
            }

            .btn1 {
                text-decoration: none;
            }
        }
        
        .blog-hover:hover {
            transform: translateY(-1.5vw);
            transition: 600ms transform;
            box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);

            .btn {
                display: flex;
                justify-content: center;

                .btn1 {
                    display: flex;
                    border: none;
                
                    p {
                        font-size: .8vw;
                        font-weight: $fontBold;
                        letter-spacing: .25vw;
                        background: linear-gradient(to right, $brownish-orange-two, $army-green);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                
                    p::after {
                        content: '\f105';
                        font-family: fontAwesome;
                        font-size: 1vw;
                        font-weight: $fontThin;
                        padding-left: .6vw;
                    }
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            border-radius: .5vw .5vw 0 0;
        }

        h4 {
            font-size: 1.3vw;
            font-weight: $fontBold;
            line-height: 1.4;
            padding: 2.2vw 3.5vw .5vw 3.5vw;
        }

        p {
            font-size: $p;
            font-weight: $fontThin;
            line-height: 1.4;
            padding: .4vw 3.5vw 0 3.5vw;
        }
    }

    .swiper-slide:nth-child(odd) {
        width: 80%;
      }
    
    .swiper-slide:nth-child(even) {
        width: 80%;
      }
}

  .blog>.btn {
    padding: 0 0 6.41vw 0;
    display: flex;
    justify-content: center;

    .btn1 {
        text-decoration: none;
    }
}

            @media only screen and(max-width:700px) {

                .blog {
                    height: auto;
                    background-color: #fafafa;
                    font-family: Titillium Web, sans-serif;
                    color: $black;
                }
                
                .blog-title>h1 {
                    padding-top: 5.42vw;
                    width: 100%;
                    text-align: center;
                    margin: auto;
                    font-size: 3.13vw;
                    font-weight: $fontBold;
                    line-height: 0.83;
                    margin-bottom: 1.61vw;
                }
                
                .blog .arrows {
                    width: 94%;
                    text-align: center;
                    display: flex;
                    justify-content: end;
                }
                
                
                .blog .arrows i {
                    font-size: 2.4vw;
                    padding-top: .5vw;
                    font-weight: $fontThin;
                    width: 3.54vw;
                    height: 3.54vw;
                    background-color: $white-two;
                }
                
                .blog .arrows .fa-angle-left {
                    border-radius: .25vw 0 0 .25vw;
                }
                
                .blog .arrows .fa-angle-right {
                    border-radius: 0 .25vw .25vw 0;
                }
                
                .blog i:hover {
                    color: $white-two;
                    background-color: $black;
                }
                
                .main-swiper {
                    display: flex;
                }
                
                // .blank {
                //     width: 15%;
                //     background-color: #fafafa;
                //     z-index: 2;
                // }
                
                .swiper-container2 {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    margin-top: 7.14vw;
                    margin-bottom: 6vw;
                    z-index: 5;
                
                  .swiper-slide {
                    text-align: left;
                    font-size: 18px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                
                        .blog-hover {
                            height: 35vw;
                            width: 45vw;
                            background-color: $white-two;
                            color: $black;
                            border-radius: .5vw;
                            z-index: 5;
                
                            .btn {
                                display: none;
                                justify-content: center;

                                .btn1 {
                                    display: flex;
                                    border: none;
                                
                                    p {
                                        font-size: .8vw;
                                        font-weight: $fontBold;
                                        letter-spacing: .25vw;
                                        background: linear-gradient(to right, $brownish-orange-two, $army-green);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                    }
                                
                                    p::after {
                                        content: '\f105';
                                        font-family: fontAwesome;
                                        font-size: 1vw;
                                        font-weight: $fontThin;
                                        padding-left: .6vw;
                                    }
                                }
                            }
                        }
                        
                        .blog-hover:hover {
                            transform: translateY(-1.5vw);
                            transition: 600ms transform;
                            box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
                
                            .btn {
                                display: flex;
                                justify-content: center;
                                margin-top: -3vw;
                            }

                            .btn1 {
                                text-decoration: none;
                            }
                        }
                
                        img {
                            width: 100%;
                            height: auto;
                            border-radius: .5vw .5vw 0 0;
                        }
                
                        h4 {
                            font-size: 1.3vw;
                            font-weight: $fontBold;
                            line-height: 1.4;
                            padding: 5vw 3.5vw .5vw 3.5vw;
                        }
                
                        p {
                            font-size: $p;
                            font-weight: $fontThin;
                            line-height: 1.4;
                            padding: .4vw 3.5vw 0 3.5vw;
                        }
                    }
                
                    .swiper-slide:nth-child(odd) {
                        width: 80%;
                      }
                    
                    .swiper-slide:nth-child(even) {
                        width: 80%;
                      }
                }
                
                  .blog>.btn {
                    padding: 0 0 6.41vw 0;
                    display: flex;
                    justify-content: center;

                    .btn1 {
                        text-decoration: none;
                    }
                }
            }
//Blog Section Ends

// ####################################################################################
// Contact Section Starts
.contact {
    height: auto;
    background-color: $white-two;
    color: $black;
    font-family: Titillium Web, sans-serif;

    h1 {
        font-size: 3.13vw;
        font-weight: $fontBold;
        line-height: 0.83;
        margin-top: 6.25vw;
        margin-left: 15vw;
        margin-bottom: 7.86vw;
    }

    .inputs {
        display: flex;
        margin: auto;
        width: 70%;
        margin-bottom: 15vw;

        .inputA {
            display: block;
        }

        .inputB {
            display: block;
            text-align: right;
        }

        input {
            border: none;
            padding-bottom: .5vw;
            width: 88%;
            border-bottom: 1px solid $black;
            font-size: $p;
            font-weight: $fontThin;
            margin-bottom: 3.57vw;
        }

        .black-button {
            position: relative;
            width: 12.4vw;
            height: 3.54vw;
            font-size: .8vw;
            letter-spacing: 2px;
            font-weight: $fontBold;
            background-color: $black;
            border: none;
            border-radius: 0.26vw;
            margin-top: -2vw;
            transition:800ms ease all;
            
            span {
                font-size: .8vw;
                letter-spacing: 4px;
                line-height: 1;
                background: linear-gradient(to right, $brownish-orange-two, $army-green);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .black-button:hover {
            background: $white-two;
            color: $black;

            span {
                font-size: 1vw;
                transition:800ms ease all;
            }
        }

        .black-button:before,.black-button:after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width:48px;
            background: $black;
            transition:400ms ease all;
        }

        .black-button:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }

        .black-button:hover:before,.black-button:hover:after{
            width:100%;
            transition:800ms ease all;
        }
    }
}

            @media only screen and (max-width: 800px) {
                .contact {
                    height: auto;
                    background-color: $white-two;
                    color: $black;
                    font-family: Titillium Web, sans-serif;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                
                    h1 {
                        font-size: 3.13vw;
                        font-weight: $fontBold;
                        line-height: 0.83;
                        margin-top: 6.25vw;
                        margin-left: 0;
                        margin-bottom: 7.86vw;
                    }
                
                    .inputs {
                        display: block;
                        margin: auto;
                        width: 70%;
                        margin-bottom: 15vw;
                
                        .inputA {
                            display: block;
                        }
                
                        .inputB {
                            display: block;
                            text-align: center;
                        }
                
                        input {
                            border: none;
                            padding-bottom: .5vw;
                            width: 100%;
                            border-bottom: 1px solid $black;
                            font-size: $p;
                            font-weight: $fontThin;
                            margin-bottom: 3.57vw;
                        }
                
                        .black-button {
                            width: 12.4vw;
                            height: 3.54vw;
                            font-weight: $fontBold;
                            background-color: $black;
                            border: none;
                            border-radius: 0.26vw;
                            margin-top: -2vw;
                            
                            span {
                                font-size: .8vw;
                                letter-spacing: 4px;
                                line-height: 1;
                                background: linear-gradient(to right, $brownish-orange-two, $army-green);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }                
            }
// Contact Section Ends

// ####################################################################################
// Footer Starts
.footer {
    height: 100vh;
    background-color: $black;
    font-family: Titillium Web, sans-serif;
}

.footer-main {
    color: $white-two;
    display: flex;
    // justify-content: start;
    // align-items: center;
    height: 85vh;
}

.footer-title {
    flex: 1;
    margin-left: 15vw;
    margin-top: 16vw;
    font-size: 3.75vw;
    line-height: 1.11;
}

.footer-nav-items {
    margin-top: 16vw;
    margin-left: 10vw;
    flex: 1;
    font-size: $p;
    line-height: 2;

    a {
        color: $white-two;
    }
}

.vertical-line {
    margin-top: .7vw;
    border-left: .1px solid $white-two;
    border-radius: 1px;
    height: 8vw;
}

.copyright {
    color: $white-three;
    display: flex;
    width: 85%;
    margin: auto;
    font-size: $p;
    line-height: 1.8;
}

.copyright-2019 {
    flex: 2;
}

.policy {
    flex: .4;
    text-align: right;
}

.disclaimer {
    flex: .4;
    text-align: right;
}

        @media only screen and (max-width: 800px) {

            .footer {
                height: 100vh;
                background-color: $black;
                font-family: Titillium Web, sans-serif;
                text-align: center;
            }
            
            .footer-main {
                color: $white-two;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                height: 80vh;
            }
            
            .footer-title {
                flex: 0;
                margin-left: 0;
                margin-top: 20vw;
                font-size: 3.75vw;
                line-height: 1.11;
            }
            
            .footer-nav-items {
                margin-top: 8vw;
                margin-left: 0;
                flex: 0;
                font-size: $p;
                line-height: 2;

                a {
                    color: $white-two;
                }
            }
            
            .vertical-line {
                margin-top: .7vw;
                border-left: 1px solid $white-two;
                border-radius: 1px;
                height: 9vh;
            }
            
            .copyright {
                color: $white-three;
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: auto;
                font-size: $p;
                line-height: 1.8;
                margin-bottom: 4vw;
            }
            
            .copyright-2019 {
                flex: 0;
            }
            
            .policy {
                flex: 0;
                text-align: center;
                margin-top: -2vw;
            }
            
            .disclaimer {
                flex: 0;
                text-align: center;
                margin-top: -2vw;
            }
        }
// Footer Section Ends
