* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 2000;
  background: #000000;
}

.overlay:nth-child(2) {
  text-align: center;
  margin: auto;
}

.overlay:nth-child(2) img {
  margin-top: 6%;
}

.first {
  top: 0;
}

.second {
  top: 33.3%;
}

.third {
  top: 66.6%;
}

.btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.btn1 p {
  font-size: .8vw;
  font-weight: 600;
  letter-spacing: .25vw;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn1 p::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: 1vw;
  font-weight: 300;
  padding-left: .6vw;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.the-arrow {
  width: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}

.the-arrow.-left > .shaft {
  width: 0;
  background-color: #000000;
}

.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #000000;
}

.the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.the-arrow.-right {
  top: 0;
  left: .8vw;
}

.the-arrow.-right > .shaft {
  width: 1px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 0.42vw;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.the-arrow > .shaft {
  background-color: #000000;
  display: block;
  height: 1px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  will-change: transform;
}

.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #000000;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.the-arrow > .shaft:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.the-arrow > .shaft:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  font-size: .8vw;
  font-weight: 600;
  letter-spacing: .25vw;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.animated-arrow:hover {
  color: #808080;
  text-decoration: none;
}

.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 0.42vw;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.animated-arrow:hover > .main {
  -webkit-transform: translateX(17px);
          transform: translateX(17px);
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.animated-arrow > .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.animated-arrow > .main > .the-arrow {
  position: relative;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 5.89vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.logo-container {
  width: 70%;
}

.logo-container .logo {
  width: 15vw;
  height: auto;
  margin-left: 2.34vw;
}

.logo-container .logo img {
  width: 100%;
  height: auto;
}

.social-icons {
  width: 17%;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.04vw;
  margin-top: 1.5vw;
  float: right;
}

.social-icons i {
  color: #000000;
  margin-left: 1.83vw;
}

.social-icons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #ccc;
}

.hamburger {
  width: 13%;
}

.bg-hamburger {
  background-color: #000000;
  height: 3.54vw;
  width: 3.54vw;
  border-radius: 0.26vw;
  float: right;
  margin-right: 3.02vw;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background: #bebebe;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list li {
  margin: .2vw;
  text-align: center;
}

.nav-link {
  font-size: 1.5vw;
  font-weight: 600;
  color: #000000;
}

.nav-link:hover,
.nav-link:focus {
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 2.4vw;
  width: 1.5vw;
  right: 4vw;
  height: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  overflow: visible;
}

.menu-toggler.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bar {
  background: #ffffff;
  width: 100%;
  height: 1px;
  border-radius: 5px;
}

.bar.half {
  width: 100%;
}

.bar.start {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  -webkit-transform: rotate(-450deg) translateX(0.8rem);
          transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  -webkit-transform: rotate(-450deg) translateX(-0.8rem);
          transform: rotate(-450deg) translateX(-0.8rem);
}

@media only screen and (max-width: 800px) {
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1000;
  }
  .logo-container {
    width: 100%;
  }
  .logo-container .logo {
    width: 15vw;
    height: auto;
    text-align: center;
    margin: auto;
  }
  .logo-container .logo img {
    width: 100%;
    height: auto;
  }
  .social-icons {
    width: 75%;
    margin-top: -1vw;
  }
  .social-icons ul {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1.04vw;
    margin: auto;
  }
  .social-icons i {
    color: #000000;
  }
  .social-icons i:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .hamburger {
    width: 25%;
    margin-top: -1vw;
  }
  .bg-hamburger {
    position: relative;
    background-color: #000000;
    height: 3.54vw;
    width: 3.54vw;
    border-radius: 0.26vw;
    float: right;
    margin-right: 4vw;
  }
  .bg-hamburger .menu-toggler {
    position: absolute;
    top: 1.4vw;
    width: 1.5vw;
    right: 1vw;
    height: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
    overflow: visible;
  }
  .bg-hamburger .menu-toggler.open {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .bg-hamburger .bar {
    background: #ffffff;
    width: 100%;
    height: 1px;
    border-radius: 5px;
  }
  .bg-hamburger .bar.half {
    width: 100%;
  }
  .bg-hamburger .bar.start {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  .bg-hamburger .open .bar.start {
    -webkit-transform: rotate(-450deg) translateX(0.8rem);
            transform: rotate(-450deg) translateX(0.8rem);
  }
  .bg-hamburger .bar.end {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  .bg-hamburger .open .bar.end {
    -webkit-transform: rotate(-450deg) translateX(-0.8rem);
            transform: rotate(-450deg) translateX(-0.8rem);
  }
  .top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background: #bebebe;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
  }
  .nav-list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list li {
    margin: .2vw;
    text-align: center;
  }
  .nav-link {
    font-size: 1.5vw;
    font-weight: 600;
    color: #000000;
  }
  .nav-link:hover,
  .nav-link:focus {
    background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
    background: linear-gradient(to right, #d49e1f, #534215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .top-nav.open {
    top: 0;
    border-radius: initial;
  }
}

.urbanest {
  height: auto;
  background-color: #ffffff;
  color: #000000;
  font-family: Titillium Web, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11.93vw;
}

.urbanest .urbanest-descrip {
  margin-top: 6vw;
  width: 41.67vw;
  padding-left: 8.28vw;
  padding-right: 5.83vw;
}

.urbanest .urbanest-descrip h2 {
  margin-bottom: 2vw;
  font-size: 1.88vw;
  font-weight: 600;
  line-height: 1.19;
}

.urbanest .urbanest-descrip .urbanestLogo {
  height: 3vw;
  width: 22vw;
  margin-bottom: 2.3vw;
}

.urbanest .urbanest-descrip .urbanestLogo img {
  width: 100%;
  height: auto;
}

.urbanest .urbanest-descrip p {
  margin-bottom: 2vw;
  font-size: 1.04vw;
  font-weight: 300;
  line-height: 1.4;
}

.urbanest .urbanest-descrip .pBold {
  margin-bottom: 2.5vw;
  font-weight: 600;
  line-height: 1.4;
}

.urbanest .urbanest-descrip .btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.urbanest .urbanest-descrip .btn1 p {
  font-size: .8vw;
  font-weight: 600;
  letter-spacing: .25vw;
}

.urbanest .urbanest-descrip .btn1 p::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: 1vw;
  font-weight: 300;
  padding-left: .6vw;
}

.urbanest .urbanest-img {
  width: 58.33vw;
  padding-right: 3.02vw;
}

.urbanest .urbanest-img img {
  width: 100%;
  height: auto;
  border-radius: 1.56vw;
}

.nextPro {
  margin-top: 4.53vw;
  margin-right: 3.02vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nextPro .downArrow {
  width: 2vw;
  height: 4vw;
  margin-right: .7vw;
  margin-top: .7vw;
}

.nextPro .downArrow img {
  width: 100%;
  height: auto;
}

.nextPro p {
  font-size: .78vw;
  line-height: 5.33;
  text-transform: uppercase;
}

.nextPro .ico {
  margin: 1% 1.5% 0 0;
  text-align: center;
  width: 2vw;
  height: 2vw;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.nextPro .ico .circle {
  background: #000000;
  border-radius: 50%;
  display: inline-block;
  height: 3vw;
  width: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.nextPro .ico .circle.circle-top {
  height: 1.5vw;
  width: 1.5vw;
  -webkit-animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  z-index: 0;
  top: 0;
}

.nextPro .ico .circle.circle-bottom {
  height: 1.07143vw;
  width: 1.25vw;
  -webkit-animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  z-index: 9;
  bottom: 0px;
  top: -2px;
}

.nextPro .ico .st-arrow {
  fill: #ffffff;
  -webkit-animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
          animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
  -webkit-perspective: 9000px;
          perspective: 9000px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.nextPro .svg {
  z-index: 9;
  position: relative;
}

@-webkit-keyframes blob-1-anim {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  14% {
    -webkit-transform: translateX(-50%) translateY(-8px);
            transform: translateX(-50%) translateY(-8px);
  }
  24% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}

@keyframes blob-1-anim {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  14% {
    -webkit-transform: translateX(-50%) translateY(-8px);
            transform: translateX(-50%) translateY(-8px);
  }
  24% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}

@-webkit-keyframes blob-2-anim {
  0% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  30% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  70% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  95% {
    -webkit-transform: scale(1) translate(-50%, 26px);
            transform: scale(1) translate(-50%, 26px);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
}

@keyframes blob-2-anim {
  0% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  30% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  70% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
  95% {
    -webkit-transform: scale(1) translate(-50%, 26px);
            transform: scale(1) translate(-50%, 26px);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, 10px);
            transform: scale(1) translate(-50%, 10px);
  }
}

@-webkit-keyframes scrolly {
  0% {
    -webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
            transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

@keyframes scrolly {
  0% {
    -webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
            transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

@media only screen and (max-width: 800px) {
  .urbanest {
    height: auto;
    background-color: #ffffff;
    color: #000000;
    font-family: Titillium Web, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 11.93vw;
  }
  .urbanest .urbanest-descrip {
    margin-top: 6vw;
    width: 100vw;
    padding: 0 30vw 0 10vw;
  }
  .urbanest .urbanest-descrip h2 {
    margin-bottom: 2vw;
    font-size: 1.88vw;
    font-weight: 600;
    line-height: 1.19;
  }
  .urbanest .urbanest-descrip .urbanestLogo {
    height: 3vw;
    width: 22vw;
    margin-bottom: 2.3vw;
  }
  .urbanest .urbanest-descrip .urbanestLogo img {
    width: 100%;
    height: auto;
  }
  .urbanest .urbanest-descrip p {
    margin-bottom: 2vw;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.4;
  }
  .urbanest .urbanest-descrip .pBold {
    margin-bottom: 2.5vw;
    font-weight: 600;
    line-height: 1.4;
  }
  .urbanest .urbanest-descrip .btn1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
    background: linear-gradient(to right, #d49e1f, #534215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4vw;
  }
  .urbanest .urbanest-descrip .btn1 p {
    font-size: .8vw;
    font-weight: 600;
    letter-spacing: .25vw;
  }
  .urbanest .urbanest-descrip .btn1 p::after {
    content: '\f105';
    font-family: fontAwesome;
    font-size: 1vw;
    font-weight: 300;
    padding-left: .6vw;
  }
  .urbanest .urbanest-img {
    width: 80vw;
    padding: 0;
  }
  .urbanest .urbanest-img img {
    width: 100%;
    height: auto;
    border-radius: 1.56vw;
  }
  .nextPro {
    margin-top: 4.53vw;
    margin-right: 3.02vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nextPro .downArrow {
    width: 2vw;
    height: 4vw;
    margin-right: .7vw;
    margin-top: .7vw;
  }
  .nextPro .downArrow img {
    width: 100%;
    height: auto;
  }
  .nextPro p {
    font-size: .78vw;
    line-height: 5.33;
    text-transform: uppercase;
  }
}

.soultree {
  height: auto;
  background-color: #ffffff;
  color: #000000;
  font-family: Titillium Web, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vw;
  margin-bottom: 11.56vw;
}

.soultree .soultree-img {
  width: 58.33vw;
  padding-left: 3.02vw;
}

.soultree .soultree-img img {
  width: 100%;
  height: auto;
  border-radius: 1.56vw;
}

.soultree .soultree-descrip {
  margin-top: 2.34vw;
  width: 41.67vw;
  padding-right: 8.28vw;
  padding-left: 5.83vw;
}

.soultree .soultree-descrip h2 {
  margin-bottom: 1.2vw;
  font-size: 1.88vw;
  font-weight: 600;
  line-height: 1.19;
}

.soultree .soultree-descrip .soultreeLogo {
  height: 9.06vw;
  width: 18.5vw;
  margin-bottom: 1.2vw;
}

.soultree .soultree-descrip .soultreeLogo img {
  width: 100%;
  height: auto;
}

.soultree .soultree-descrip p {
  margin-bottom: 2vw;
  font-size: 1.04vw;
  font-weight: 300;
  line-height: 1.4;
}

.soultree .soultree-descrip .pBold {
  margin-bottom: 2.5vw;
  font-weight: 600;
  line-height: 1.4;
}

.soultree .soultree-descrip .btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.soultree .soultree-descrip .btn1 p {
  font-size: .8vw;
  font-weight: 600;
  letter-spacing: .25vw;
}

.soultree .soultree-descrip .btn1 p::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: 1vw;
  font-weight: 300;
  padding-left: .6vw;
}

@media only screen and (max-width: 800px) {
  .soultree {
    height: auto;
    background-color: #ffffff;
    color: #000000;
    font-family: Titillium Web, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 13vw;
    margin-bottom: 11.56vw;
  }
  .soultree .soultree-img {
    padding: 0;
    width: 80vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .soultree .soultree-img img {
    width: 100%;
    height: auto;
    border-radius: 1.56vw;
  }
  .soultree .soultree-descrip {
    margin-top: 2.34vw;
    width: 41.67vw;
    padding-right: 8.28vw;
    padding-left: 5.83vw;
  }
  .soultree .soultree-descrip h2 {
    margin-bottom: 1.2vw;
    font-size: 1.88vw;
    font-weight: 600;
    line-height: 1.19;
  }
  .soultree .soultree-descrip .soultreeLogo {
    height: 9.06vw;
    width: 18.5vw;
    margin-bottom: 1.2vw;
  }
  .soultree .soultree-descrip .soultreeLogo img {
    width: 100%;
    height: auto;
  }
  .soultree .soultree-descrip p {
    margin-bottom: 2vw;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.4;
  }
  .soultree .soultree-descrip .pBold {
    margin-bottom: 2.5vw;
    font-weight: 600;
    line-height: 1.4;
  }
  .soultree .soultree-descrip .btn1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
    background: linear-gradient(to right, #d49e1f, #534215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4vw;
  }
  .soultree .soultree-descrip .btn1 p {
    font-size: .8vw;
    font-weight: 600;
    letter-spacing: .25vw;
  }
  .soultree .soultree-descrip .btn1 p::after {
    content: '\f105';
    font-family: fontAwesome;
    font-size: 1vw;
    font-weight: 300;
    padding-left: .6vw;
  }
}

.welcome {
  height: 40.16vw;
  width: 100%;
  font-family: Titillium Web, sans-serif;
  color: #ffffff;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome h1 {
  font-size: 3.13vw;
  font-weight: 600;
  line-height: 1.4;
}

.welcome h2 {
  font-size: 2.34vw;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 5vw;
}

.welcome .btn1 {
  text-decoration: none;
}

.welcome .the-arrow {
  width: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.welcome .the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}

.welcome .the-arrow.-left > .shaft {
  width: 0;
  background-color: #ffffff;
}

.welcome .the-arrow.-left > .shaft:before, .welcome .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #ffffff;
}

.welcome .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.welcome .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.welcome .the-arrow.-right {
  top: 0;
  left: .8vw;
}

.welcome .the-arrow.-right > .shaft {
  width: 1px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.welcome .the-arrow.-right > .shaft:before, .welcome .the-arrow.-right > .shaft:after {
  width: 0.42vw;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.welcome .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.welcome .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.welcome .the-arrow > .shaft {
  background-color: #ffffff;
  display: block;
  height: 1px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  will-change: transform;
}

.welcome .the-arrow > .shaft:before, .welcome .the-arrow > .shaft:after {
  background-color: #7c5f18;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.welcome .the-arrow > .shaft:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.welcome .the-arrow > .shaft:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.welcome .animated-arrow {
  display: inline-block;
  font-size: .8vw;
  font-weight: 600;
  letter-spacing: .25vw;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.welcome .animated-arrow:hover {
  color: #ffffff;
  text-decoration: none;
}

.welcome .animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #ffffff;
}

.welcome .animated-arrow:hover > .the-arrow.-left > .shaft:before, .welcome .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 0.42vw;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #ffffff;
}

.welcome .animated-arrow:hover > .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.welcome .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.welcome .animated-arrow:hover > .main {
  -webkit-transform: translateX(17px);
          transform: translateX(17px);
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.welcome .animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.welcome .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .welcome .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.welcome .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.welcome .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.welcome .animated-arrow > .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.welcome .animated-arrow > .main > .the-arrow {
  position: relative;
}

.about {
  height: auto;
  font-family: Titillium Web, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.about .about-descrip {
  padding: 6.61vw 0 5.71vw 0;
  width: 45%;
  text-align: center;
  margin: auto;
}

.about .about-descrip h1 {
  font-size: 3.13vw;
  font-weight: 600;
  line-height: 0.83;
  margin-bottom: 1.41vw;
}

.about .about-descrip p {
  font-size: 1.04vw;
  font-weight: 300;
  line-height: 1.2;
}

.about .about-cards {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-bottom: 7.66vw;
}

.about .about-hover-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 28.70vw;
  width: 18.65vw;
  border: solid 1px #ebebeb;
  color: #000000;
  background-color: #ffffff;
  display: block;
  border-radius: .52vw;
}

.about .about-hover-card .btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vw;
}

.about .about-img {
  width: 18.65vw;
  height: 50%;
}

.about .about-img > img {
  width: 100%;
  height: auto;
  border-radius: .52vw .52vw 0 0;
}

.about .about-hover-card > h2 {
  margin-top: -12vw;
  text-align: center;
  font-weight: 600;
  font-size: 2.71vw;
  line-height: 1.38;
  color: #ffffff;
}

.about .about-hover-card > p {
  position: relative;
  width: 18.65vw;
  margin-top: 13vw;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  font-size: 1.04vw;
  font-weight: 300;
  line-height: 1.4;
}

.about .about-card-div {
  width: 26%;
  margin: auto;
}

.about .about-hover-card:hover {
  -webkit-box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(-2.2vw);
          transform: translateY(-2.2vw);
  -webkit-transition: 600ms -webkit-transform;
  transition: 600ms -webkit-transform;
  transition: 600ms transform;
  transition: 600ms transform, 600ms -webkit-transform;
  border: solid 1px #ebebeb;
  color: #000000;
  background-color: #ffffff;
}

.about .about-hover-card:hover .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-hover-card:hover .btn1 {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .about {
    height: auto;
    font-family: Titillium Web, sans-serif;
    color: #000000;
    background-color: #ffffff;
  }
  .about .about-descrip {
    padding: 6.61vw 0 5.71vw 0;
    width: 70%;
    text-align: center;
    margin: auto;
  }
  .about .about-descrip h1 {
    font-size: 3.13vw;
    font-weight: 600;
    line-height: 0.83;
    margin-bottom: 1.41vw;
  }
  .about .about-descrip p {
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.2;
  }
  .about .about-cards {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    margin-bottom: 7.66vw;
  }
  .about .about-hover-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 40vw;
    width: 25vw;
    border: solid 1px #ebebeb;
    color: #000000;
    background-color: #ffffff;
    border-radius: .52vw;
    margin-bottom: 5vw;
  }
  .about .about-hover-card .btn {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2vw;
  }
  .about .about-img {
    width: 25vw;
    height: 50%;
  }
  .about .about-img > img {
    width: 100%;
    height: auto;
    border-radius: .52vw .52vw 0 0;
  }
  .about .about-hover-card > h2 {
    margin-top: -16vw;
    text-align: center;
    font-weight: 600;
    font-size: 2.71vw;
    line-height: 1.38;
    color: #ffffff;
  }
  .about .about-hover-card > p {
    position: relative;
    width: 18.65vw;
    margin: auto;
    margin-top: 18vw;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.4;
  }
  .about .about-card-div {
    width: 26%;
    margin: auto;
  }
  .about .about-hover-card:hover {
    -webkit-box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
    -webkit-transform: translateY(-2.2vw);
            transform: translateY(-2.2vw);
    -webkit-transition: 600ms -webkit-transform;
    transition: 600ms -webkit-transform;
    transition: 600ms transform;
    transition: 600ms transform, 600ms -webkit-transform;
    border: solid 1px #ebebeb;
    color: #000000;
    background-color: #ffffff;
  }
  .about .about-hover-card:hover .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about-hover-card:hover .btn1 {
    text-decoration: none;
  }
}

.blog {
  height: auto;
  background-color: #fafafa;
  font-family: Titillium Web, sans-serif;
  color: #000000;
}

.blog-title > h1 {
  padding-top: 5.42vw;
  width: 70%;
  margin: auto;
  font-size: 3.13vw;
  font-weight: 600;
  line-height: 0.83;
  margin-bottom: 1.61vw;
}

.blog .arrows {
  width: 94%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog .arrows i {
  font-size: 2.4vw;
  padding-top: .5vw;
  font-weight: 300;
  width: 3.54vw;
  height: 3.54vw;
  background-color: #ffffff;
}

.blog .arrows .fa-angle-left {
  border-radius: .25vw 0 0 .25vw;
}

.blog .arrows .fa-angle-right {
  border-radius: 0 .25vw .25vw 0;
}

.blog i:hover {
  color: #ffffff;
  background-color: #000000;
}

.main-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blank {
  width: 15%;
  background-color: #fafafa;
  z-index: 2;
}

.swiper-container2 {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7.14vw;
  margin-bottom: 6vw;
}

.swiper-container2 .swiper-slide {
  text-align: left;
  font-size: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container2 .swiper-slide .blog-hover {
  height: 25vw;
  background-color: #ffffff;
  color: #000000;
  border-radius: .5vw;
  border: solid 1px #ebebeb;
}

.swiper-container2 .swiper-slide .blog-hover .btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container2 .swiper-slide .blog-hover .btn1 {
  text-decoration: none;
}

.swiper-container2 .swiper-slide .blog-hover:hover {
  -webkit-transform: translateY(-1.5vw);
          transform: translateY(-1.5vw);
  -webkit-transition: 600ms -webkit-transform;
  transition: 600ms -webkit-transform;
  transition: 600ms transform;
  transition: 600ms transform, 600ms -webkit-transform;
  -webkit-box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
}

.swiper-container2 .swiper-slide .blog-hover:hover .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container2 .swiper-slide .blog-hover:hover .btn .btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.swiper-container2 .swiper-slide .blog-hover:hover .btn .btn1 p {
  font-size: .8vw;
  font-weight: 600;
  letter-spacing: .25vw;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-container2 .swiper-slide .blog-hover:hover .btn .btn1 p::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: 1vw;
  font-weight: 300;
  padding-left: .6vw;
}

.swiper-container2 .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: .5vw .5vw 0 0;
}

.swiper-container2 .swiper-slide h4 {
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 1.4;
  padding: 2.2vw 3.5vw .5vw 3.5vw;
}

.swiper-container2 .swiper-slide p {
  font-size: 1.04vw;
  font-weight: 300;
  line-height: 1.4;
  padding: .4vw 3.5vw 0 3.5vw;
}

.swiper-container2 .swiper-slide:nth-child(odd) {
  width: 80%;
}

.swiper-container2 .swiper-slide:nth-child(even) {
  width: 80%;
}

.blog > .btn {
  padding: 0 0 6.41vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog > .btn .btn1 {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .blog {
    height: auto;
    background-color: #fafafa;
    font-family: Titillium Web, sans-serif;
    color: #000000;
  }
  .blog-title > h1 {
    padding-top: 5.42vw;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 3.13vw;
    font-weight: 600;
    line-height: 0.83;
    margin-bottom: 1.61vw;
  }
  .blog .arrows {
    width: 94%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .blog .arrows i {
    font-size: 2.4vw;
    padding-top: .5vw;
    font-weight: 300;
    width: 3.54vw;
    height: 3.54vw;
    background-color: #ffffff;
  }
  .blog .arrows .fa-angle-left {
    border-radius: .25vw 0 0 .25vw;
  }
  .blog .arrows .fa-angle-right {
    border-radius: 0 .25vw .25vw 0;
  }
  .blog i:hover {
    color: #ffffff;
    background-color: #000000;
  }
  .main-swiper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .swiper-container2 {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7.14vw;
    margin-bottom: 6vw;
    z-index: 5;
  }
  .swiper-container2 .swiper-slide {
    text-align: left;
    font-size: 18px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .swiper-container2 .swiper-slide .blog-hover {
    height: 35vw;
    width: 45vw;
    background-color: #ffffff;
    color: #000000;
    border-radius: .5vw;
    z-index: 5;
  }
  .swiper-container2 .swiper-slide .blog-hover .btn {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swiper-container2 .swiper-slide .blog-hover .btn .btn1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
  }
  .swiper-container2 .swiper-slide .blog-hover .btn .btn1 p {
    font-size: .8vw;
    font-weight: 600;
    letter-spacing: .25vw;
    background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
    background: linear-gradient(to right, #d49e1f, #534215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .swiper-container2 .swiper-slide .blog-hover .btn .btn1 p::after {
    content: '\f105';
    font-family: fontAwesome;
    font-size: 1vw;
    font-weight: 300;
    padding-left: .6vw;
  }
  .swiper-container2 .swiper-slide .blog-hover:hover {
    -webkit-transform: translateY(-1.5vw);
            transform: translateY(-1.5vw);
    -webkit-transition: 600ms -webkit-transform;
    transition: 600ms -webkit-transform;
    transition: 600ms transform;
    transition: 600ms transform, 600ms -webkit-transform;
    -webkit-box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.16);
  }
  .swiper-container2 .swiper-slide .blog-hover:hover .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -3vw;
  }
  .swiper-container2 .swiper-slide .blog-hover:hover .btn1 {
    text-decoration: none;
  }
  .swiper-container2 .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: .5vw .5vw 0 0;
  }
  .swiper-container2 .swiper-slide h4 {
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 1.4;
    padding: 5vw 3.5vw .5vw 3.5vw;
  }
  .swiper-container2 .swiper-slide p {
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.4;
    padding: .4vw 3.5vw 0 3.5vw;
  }
  .swiper-container2 .swiper-slide:nth-child(odd) {
    width: 80%;
  }
  .swiper-container2 .swiper-slide:nth-child(even) {
    width: 80%;
  }
  .blog > .btn {
    padding: 0 0 6.41vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog > .btn .btn1 {
    text-decoration: none;
  }
}

.contact {
  height: auto;
  background-color: #ffffff;
  color: #000000;
  font-family: Titillium Web, sans-serif;
}

.contact h1 {
  font-size: 3.13vw;
  font-weight: 600;
  line-height: 0.83;
  margin-top: 6.25vw;
  margin-left: 15vw;
  margin-bottom: 7.86vw;
}

.contact .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 70%;
  margin-bottom: 15vw;
}

.contact .inputs .inputA {
  display: block;
}

.contact .inputs .inputB {
  display: block;
  text-align: right;
}

.contact .inputs input {
  border: none;
  padding-bottom: .5vw;
  width: 88%;
  border-bottom: 1px solid #000000;
  font-size: 1.04vw;
  font-weight: 300;
  margin-bottom: 3.57vw;
}

.contact .inputs .black-button {
  position: relative;
  width: 12.4vw;
  height: 3.54vw;
  font-size: .8vw;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: #000000;
  border: none;
  border-radius: 0.26vw;
  margin-top: -2vw;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

.contact .inputs .black-button span {
  font-size: .8vw;
  letter-spacing: 4px;
  line-height: 1;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact .inputs .black-button:hover {
  background: #ffffff;
  color: #000000;
}

.contact .inputs .black-button:hover span {
  font-size: 1vw;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

.contact .inputs .black-button:before, .contact .inputs .black-button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 48px;
  background: #000000;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.contact .inputs .black-button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.contact .inputs .black-button:hover:before, .contact .inputs .black-button:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

@media only screen and (max-width: 800px) {
  .contact {
    height: auto;
    background-color: #ffffff;
    color: #000000;
    font-family: Titillium Web, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact h1 {
    font-size: 3.13vw;
    font-weight: 600;
    line-height: 0.83;
    margin-top: 6.25vw;
    margin-left: 0;
    margin-bottom: 7.86vw;
  }
  .contact .inputs {
    display: block;
    margin: auto;
    width: 70%;
    margin-bottom: 15vw;
  }
  .contact .inputs .inputA {
    display: block;
  }
  .contact .inputs .inputB {
    display: block;
    text-align: center;
  }
  .contact .inputs input {
    border: none;
    padding-bottom: .5vw;
    width: 100%;
    border-bottom: 1px solid #000000;
    font-size: 1.04vw;
    font-weight: 300;
    margin-bottom: 3.57vw;
  }
  .contact .inputs .black-button {
    width: 12.4vw;
    height: 3.54vw;
    font-weight: 600;
    background-color: #000000;
    border: none;
    border-radius: 0.26vw;
    margin-top: -2vw;
  }
  .contact .inputs .black-button span {
    font-size: .8vw;
    letter-spacing: 4px;
    line-height: 1;
    background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
    background: linear-gradient(to right, #d49e1f, #534215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.footer {
  height: 100vh;
  background-color: #000000;
  font-family: Titillium Web, sans-serif;
}

.footer-main {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
}

.footer-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15vw;
  margin-top: 16vw;
  font-size: 3.75vw;
  line-height: 1.11;
}

.footer-nav-items {
  margin-top: 16vw;
  margin-left: 10vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.04vw;
  line-height: 2;
}

.footer-nav-items a {
  color: #ffffff;
}

.vertical-line {
  margin-top: .7vw;
  border-left: 0.1px solid #ffffff;
  border-radius: 1px;
  height: 8vw;
}

.copyright {
  color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  font-size: 1.04vw;
  line-height: 1.8;
}

.copyright-2019 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.policy {
  -webkit-box-flex: .4;
      -ms-flex: .4;
          flex: .4;
  text-align: right;
}

.disclaimer {
  -webkit-box-flex: .4;
      -ms-flex: .4;
          flex: .4;
  text-align: right;
}

@media only screen and (max-width: 800px) {
  .footer {
    height: 100vh;
    background-color: #000000;
    font-family: Titillium Web, sans-serif;
    text-align: center;
  }
  .footer-main {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
  }
  .footer-title {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin-left: 0;
    margin-top: 20vw;
    font-size: 3.75vw;
    line-height: 1.11;
  }
  .footer-nav-items {
    margin-top: 8vw;
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    font-size: 1.04vw;
    line-height: 2;
  }
  .footer-nav-items a {
    color: #ffffff;
  }
  .vertical-line {
    margin-top: .7vw;
    border-left: 1px solid #ffffff;
    border-radius: 1px;
    height: 9vh;
  }
  .copyright {
    color: #dbdbdb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: auto;
    font-size: 1.04vw;
    line-height: 1.8;
    margin-bottom: 4vw;
  }
  .copyright-2019 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .policy {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    text-align: center;
    margin-top: -2vw;
  }
  .disclaimer {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    text-align: center;
    margin-top: -2vw;
  }
}
/*# sourceMappingURL=style.css.map */